<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GeologicalDisasters.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <section name="add" type="GeologicalDisasters.ConfigSectionData, GeologicalDisasters, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
</configSections>
  <add Base_Map="G:\四平项目\国情应用数据" />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <GeologicalDisasters.Settings>
            <setting name="layerPath" serializeAs="String">
                <value>D:\陈杜彬_项目\四平项目\数据库\图层数据</value>
            </setting>
        </GeologicalDisasters.Settings>
    </applicationSettings>
</configuration>
